# Stripe
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_xxx

# Resend (Email)
RESEND_API_KEY=re_xxx
# Use your verified domain email - default is noreply@mail.skrabblekeeper.com
RESEND_FROM_EMAIL="Skrabble Keeper <noreply@mail.skrabblekeeper.com>"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://cflzrwaxgflkjjbewgph.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNmbHpyd2F4Z2Zsa2pqYmV3Z3BoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY1NTY1MjMsImV4cCI6MjA4MjEzMjUyM30.4L-A1rVpz1FjgJvTACqsWfrqTxOej_Ek2aC8CZC6VMM"
